controladorLavanderia_pinAnalogico
controladorLavanderia_pinBoton
controladorLavanderia_pinAnalogico_Serial1
Nextion/Fuentes
Nextion/Iconos
Nextion/Imagenes
Nextion/pantallaNextion.HMI
Nextion/pantallaNextion_old.HMI
Nextion/NextionRonald/NextionRonald.rar
state-machine.mermaid
estado-lavadora.mermaid
